{% extends 'base.html'%}
{% block title%}CCN Login{% endblock %}
{% block content%}


    <div class="background">
<!--        <div class="shape"></div>-->
<!--        <div class="shape"></div>-->
    </div>

    <form action ="/login" method="POST">
        {% with messages = get_flashed_messages() %}
  {% if messages %}

      {% for message in messages %}
        <p style="color:red;font-size:14px;">{{ message }}</p>
      {% endfor %}

  {% endif %}
{% endwith %}
        <h3>Login Here</h3>

<!--        <label for="username">Username</label>-->
        <input type="text" placeholder="Username" name="username" required>

<!--        <label for="password">Password</label>-->
        <input type="password" placeholder="Password" name="password" required>
<p style="margin-top:10px;">New user?<a href="{{url_for('signup')}}">Signup</a></p>
        <button style="margin-top:0px;">Log In</button>
        <div class="social">
          <div class="go"><i class="fab fa-google"></i>  Google</div>
          <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
        </div>
    </form>
{% endblock %}